<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--========== BOX ICONS ==========-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

        <!--========== CSS ==========-->
        <link rel="stylesheet" href="/css/styles.css">

        <title>Responsive sidebar submenus</title>
    </head>
    <body>
        <!--========== HEADER ==========-->
        <header class="header">
            <div class="header__container">
                <img src="/img/perfil.jpg" alt="" class="header__img">

                <a href="#" class="header__logo">Coxinha De Frango</a>
    
                <div class="header__search">
                    <input type="search" placeholder="Search" class="header__input">
                    <i class='bx bx-search header__icon'></i>
                </div>
    
                <div class="header__toggle">
                    <i class='bx bx-menu' id="header-toggle"></i>
                </div>
            </div>
        </header>

        <!--========== NAV ==========-->
        <%- include('sidebar.ejs') %>
        <!--========== CONTENTS ==========-->
        <main>
            
            <h1>Associar Pergunta a Questionário</h1>

            <form action="/usuario/provas/<%= prova.id %>/adicionar-pergunta" method="POST">
                <%- include('colapsar.ejs') %>
                <input type="hidden" name="perguntaId" id="perguntaId">
                <button type="submit">Associar</button>
            </form>
            
            <script>
                function submitForm(perguntaId) {
                    document.getElementById('perguntaId').value = perguntaId;
                    document.querySelector('form').submit();
                }
            </script>

    </head>
    <a href="/usuarios/provas/<%= prova.id %>">Voltar para a prova</a>
        </main>

        <!--========== MAIN JS ==========-->
        <script src="/js/main.js"></script>
    </body>
</html>
